.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  padding: 10px 20px;
  border: 1.5px solid #e9edef;
  border-radius: 44px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #0c48a1;
  background: #ffffff;
  cursor: pointer;
}
