.card {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0px 0px 20px rgba(35, 43, 47, 0.04);
  gap: 12px;
  &__header {
    font-weight: 600;
    font-size: 18px;
  }
}
