.order-card-link {
  text-decoration: none;
  color: unset;
}

.order-card {
  cursor: pointer;
  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 16px;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #637a86;
    font-weight: 400;
    font-size: 11px;
  }
  &__info-part {
    display: inline-flex;
    align-items: center;
  }
}
