.status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: #e6eef8;
  border-radius: 15px;
  padding: 1px 8px;
  font-weight: 500;
  font-size: 11px;
  height: 18px;
  color: #0c48a1;
}
